@import 'tailwindcss';

@theme {
  --color-primary: #1E40AF;
  --color-secondary: #3B82F6;
  --color-thirdary: #60A5FA;
  --color-primary-dark: #1E3A8A;
  --color-bg-light: #;
  --color-bg-dark: ;
  --color-fg-brand: #1E40AF;
  --color-neutral-primary: #FFFFFF;
  --color-neutral-secondary: #F3F4F6;
}

@layer components {
  body {
    @apply min-h-[83.5vh];
  }

  h1 {
    @apply text-3xl font-semibold
  }

  .Flight {
    @apply p-4 m-4 grid grid-cols-5 bg-white/20 rounded-2xl border-2 border-black/10 backdrop-blur-2xl shadow-2xs
  }

  .page {
    @apply min-h-screen bg-neutral-100 p-6
  }

  .navbar {
    @apply bg-blue-600 text-white flex justify-between items-center w-full h-16 rounded-b-2xl sticky top-0 z-10 px-4;
  }

  .btn {
    @apply bg-blue-500 px-4 py-2 rounded-lg text-white transition duration-100 hover:scale-105 hover:bg-blue-600 active:scale-95
  }

  .user {
    @apply p-4 flex flex-col gap-1 border-2 border-black/10 rounded-md shadow-2xs bg-white
  }

  .home-page {
    @apply w-full relative min-h-screen bg-transparent flex flex-col justify-center gap-4 md:gap-8 items-center;

    &::before {
      content: "";
      @apply absolute inset-0 bg-fixed bg-cover bg-center w-full opacity-75 -z-1;
      background-image: url(/src/assets/wing-airplane-flying-clouds.jpg);
      pointer-events: none;


    }
  }

  .notApproved-box {
    @apply mt-20 text-center text-wrap
  }

  .notApproved-box>h3 {
    @apply mb-10 text-3xl font-bold
  }
}