@import 'tailwindcss';

@theme {
  --color-primary: #1E40AF;
  --color-secondary: #3B82F6;
  --color-thirdary: #60A5FA;
  --color-primary-dark: #1E3A8A;
  --color-bg-light: #;
  --color-bg-dark: ;
  --color-fg-brand: #1E40AF;
  --color-neutral-primary: #FFFFFF;
  --color-neutral-secondary: #F3F4F6;
}

@layer components {
  .navbar {
    @apply bg-blue-600 text-white flex justify-between items-center w-full h-16 rounded-b-2xl sticky top-0 z-10 px-4;
  }

  .home-page {
    @apply w-full relative min-h-screen bg-transparent flex flex-col justify-center gap-4 items-center;

    &::before {
      content: "";
      @apply absolute inset-0 bg-fixed bg-cover bg-center w-full  opacity-75 -z-1;
      background-image: url(/src/assets/wing-airplane-flying-clouds.jpg);
      pointer-events: none;


    }
  }
}